@import "./variables.css";

/* ------------- FONTS ------------- */
@font-face {
  font-family: "Gilam";
  src: url(../fonts/Gilam-Trial-Book-400.ttf) format("ttf"),
    url(../fonts/Gilam-Trial-Book-400.woff) format("woff"),
    url(../fonts/Gilam-Trial-Book-400.woff2) format("woff2");
  font-size: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Gilam";
  src: url(../fonts/Gilam-Trial-Regular-500.ttf) format("ttf"),
    url(../fonts/Gilam-Trial-Regular-500.woff) format("woff"),
    url(../fonts/Gilam-Trial-Regular-500.woff2) format("woff2");
  font-size: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Gilam";
  src: url(../fonts/Gilam-Trial-SemiBold-600.ttf) format("ttf"),
    url(../fonts//Gilam-Trial-SemiBold-600.woff) format("woff"),
    url(../fonts/Gilam-Trial-SemiBold-600.woff2) format("woff2");
  font-size: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Gilam";
  src: url(../fonts/Gilam-Trial-Heavy-700.ttf) format("ttf"),
    url(../fonts/Gilam-Trial-Heavy-700.woff) format("woff"),
    url(../fonts/Gilam-Trial-Heavy-700.woff2) format("woff2");
  font-size: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Circe";
  src: url(../fonts/Circe-400.ttf) format("ttf"),
    url(../fonts/Circe-400.woff) format("woff"),
    url(../fonts/Circe-400.woff2) format("woff2");
  font-size: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Circe";
  src: url(../fonts/Circe-700.ttf) format("ttf"),
    url(../fonts/Circe-700.woff) format("woff"),
    url(../fonts/Circe-700.woff2) format("woff2");
  font-size: normal;
  font-weight: 700;
}
/* ------------- FONTS FINISH ------------- */

body {
  background-color: var(--color-site-main);
  font-family: "Gilam", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: var(--color-text-main);
}

.container {
  width: 1460px;
}

/* HEADER START */
.header,
.header__contacts,
.header__button-wrapper,
.header__logo,
.block-one__arias > div,
.block-two__arias > div,
.block-three__arias > div,
.block-three__text-wrapper,
.block-three__aria-two,
.header-wrapper,
.block-one-wrapper,
.block-two-wrapper,
.block-three-wrapper {
  display: flex;
  justify-content: space-between;
}

.header-wrapper,
.block-one__arias > div,
.block-three__arias > div {
  justify-content: center;
}

.header__logo,
.header__contacts,
.header__button-wrapper,
.block-one__arias > div,
.block-three__arias > div,
.block-three__text-wrapper,
.header-wrapper,
.block-one-wrapper,
.block-two-wrapper,
.block-three-wrapper {
  align-items: center;
}

.header-wrapper,
.block-one-wrapper,
.block-two-wrapper,
.block-three-wrapper,
.block-three__aria-two {
  flex-direction: column;
}

.header,
.block-three__button {
  font-family: "Circe", serif;
}

.header {
  margin: 37px 0px;
}

.phone > span {
  line-height: 29.48px;
}

.phone__text-one {
  color: var(--color-site-decoration-second);
}

.header__button-wrapper {
  margin-left: 39px;
  padding: 10px 25px;
}

.header__button-wrapper:hover,
.block-three__button-wrapper:hover {
  color: var(--color-text-main);
}

.header__button-wrapper,
.block-three__button-wrapper {
  border: 1px solid var(--color-site-decoration-main);
}

.icon {
  margin-right: 8px;
  width: 16px;
}

.header__button,
.block-three__button {
  font-size: 18px;
  color: var(--color-site-decoration-main);
  line-height: 30px;
}

.header__button,
.block-three__button,
.block-three__aria-two__text-two {
  font-weight: 400;
}
/* HEADER FINISH */

/* SECTION BLOCK ONE START */

.block-one-wrapper,
.block-two-wrapper,
.block-three-wrapper {
  background-image: url("../images/main-image-one-hw5.jpeg");
  background-size: cover;
  background-attachment: fixed;
}

.block-one {
  padding-top: 83px;
}

.title {
  font-size: 50px;
}

.block-one__paragraph {
  margin: 41px 278px 0px 0px;
}

.block-one__arias,
.block-two__arias,
.block-three__arias {
  display: grid;
}

.block-one__arias {
  margin-top: 41px;
  gap: 30px;
  grid-template-areas:
    "one one two two three three"
    "four four four five five five";
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.link-text:hover {
  text-decoration: underline;
}

.block-one__arias,
.block-two__arias,
.block-three__arias {
  background-size: cover;
  background-attachment: fixed;
}

.block-one__arias > div,
.block-three__arias > div {
  text-align: center;
}

.block-one__arias > div {
  height: 468px;
}

.block-one__aria-one {
  background-color: var(--color-block-one-one);
  grid-area: one;
}

.block-one__aria-two {
  background-color: var(--color-block-one-two);
  grid-area: two;
  padding: 0px 43px;
}

.block-one__aria-three {
  background-color: var(--color-block-one-three);
  grid-area: three;
}

.block-one__aria-four {
  background-color: var(--color-block-one-four);
  grid-area: four;
}

.block-one__aria-five {
  background-color: var(--color-block-one-five);
  grid-area: five;
}
/* SECTION BLOCK ONE FINISH */

/* SECTION BLOCK TWO START */

.block-two-wrapper {
  background-image: url("../images/main-image-two-hw5.jpeg");
}

.block-two {
  padding-top: 161px;
}

.block-two__arias {
  height: 897px;
  margin-top: 94px;
  margin-bottom: 191.19px;
  gap: 27px;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.block-two__arias > div {
  line-height: 24.98px;
}

.block-two__aria-one {
  background-color: var(--color-block-two-one);
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  padding-right: 113px;
}

.block-two__aria-two {
  background-color: var(--color-block-two-two);
  grid-row: 1 / 4;
  grid-column: 2 / 3;
  padding-right: 114px;
}

.block-two__aria-three {
  background-color: var(--color-block-two-three);
  grid-row: 1 / 3;
  grid-column: 3 / 4;
}

.block-two__aria-four {
  background-color: var(--color-block-two-four);
  grid-row: 3 / 7;
  grid-column: 1 / 2;
  padding-top: 56px;
}

.block-two__aria-five {
  background-color: var(--color-block-two-five);
  grid-row: 4 / 7;
  grid-column: 2 / 3;
  padding-top: 47px;
  margin-bottom: 20px;
}

.block-two__aria-six {
  background-color: var(--color-block-two-six);
  grid-row: 3 / 5;
  grid-column: 3 / 4;
}

.block-two__aria-seven {
  background-color: var(--color-block-two-seven);
  grid-row: 5 / 7;
  grid-column: 3 / 4;
}

.block-two__aria-three,
.block-two__aria-six,
.block-two__aria-seven,
.block-two__aria-one,
.block-two__aria-two {
  padding-top: 44px;
  padding-left: 48px;
}

.block-two__aria-one,
.block-two__aria-two,
.block-two__aria-four,
.block-two__aria-five {
  padding-left: 52px;
}

.block-two__aria-three,
.block-two__aria-four,
.block-two__aria-five,
.block-two__aria-six {
  font-weight: 500;
}
/* SECTION BLOCK TWO FINISH */

/* SECTION BLOCK THREE START */

.block-three-wrapper {
  background-image: url("../images/main-image-one-hw5.jpeg");
}

.block-three__text-wrapper {
  padding-top: 161px;
}

.block-three__button-wrapper {
  padding: 10px 40px;
}

.block-three__arias {
  margin-top: 61px;
  height: 782px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.block-three__aria-one,
.block-three__aria-six {
  background-color: var(--color-block-three-one);
}

.block-three__aria-one__logo,
.block-three__aria-six__logo {
  width: 185px;
}

.block-three__aria-two {
  background-color: var(--color-block-three-two);
}

.block-three__aria-two__text-wrapper {
  margin: 16px 80px 0px;
}

.block-three__aria-two__text-one {
  font-weight: 600;
}

.block-three__aria-three {
  background-color: var(--color-block-three-three);
}

.block-three__aria-three__logo,
.block-three__aria-four__logo {
  width: 190px;
}

.block-three__aria-four {
  background-color: var(--color-block-three-four);
}

.block-three__aria-five {
  background-color: var(--color-block-three-five);
}

.block-three__aria-five__logo {
  width: 119px;
}

.link-logo:hover {
  border: 2px dotted var(--color-site-main);
  background-color: var(--color-text-main);
  padding: 10px;
  margin-bottom: -23px;
}
/* SECTION BLOCK THREE FINISH */

/* FOOTER START */
.footer {
  margin-bottom: 238.81px;
}
/* FOOTER FINISH */
