:root {
  /* COLORS */
  /* colors web-page */
  --color-site-main: #171717;
  --color-site-decoration-main: #e4b564;
  --color-site-decoration-second: #d6af76;

  /* colors blocks */
  /* block one */
  --color-block-one-one: #634f2c;
  --color-block-one-two: #b4a385;
  --color-block-one-three: #e4b564;
  --color-block-one-four: #635a4a;
  --color-block-one-five: #b08c4d;
  /* block two */
  --color-block-two-one: #0e0e0e;
  --color-block-two-two: #242424;
  --color-block-two-three: #1f1f1f;
  --color-block-two-four: #1f1f1f;
  --color-block-two-five: #e4b564;
  --color-block-two-six: #0e0e0e;
  --color-block-two-seven: #0a0909;
  /* block three */
  --color-block-three-one: #634f2c;
  --color-block-three-two: #e8d2abc2;
  --color-block-three-three: #e4b564;
  --color-block-three-four: #635a4a;
  --color-block-three-five: #b08c4d;

  /* colors text */
  --color-text-main: #ffffff;
  --color-text-second: #000000;
}
